site_name: Awesome Threat Detection
site_description: A curated list of resources about detecting threats and defending applications as well as Linux and Kubernetes systems.
site_url: https://danielpacak.github.io/awesome-threat-detection
repo_name: GitHub
repo_url: https://github.com/danielpacak/awesome-threat-detection
theme:
  name: material
  features:
    - content.code.copy
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        # Enable native support for Mermaid.js diagrams. Material for MkDocs will
        # automatically initialize the JavaScript runtime when a page includes a
        # mermaid code block:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
